@import url('https://fonts.googleapis.com/css2?family=Allura&family=Comfortaa:wght@300;400;500;600;700&family=Damion&family=Dancing+Script&family=Great+Vibes&family=Indie+Flower&family=Merienda&family=Parisienne&family=Paytone+One&family=Prata&family=Quicksand:wght@300&family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Berkshire+Swash&family=Comfortaa:wght@300;400;500;600;700&family=Damion&family=Dancing+Script&family=Great+Vibes&family=Indie+Flower&family=Merienda&family=Parisienne&family=Paytone+One&family=Prata&family=Quicksand:wght@300&family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Berkshire+Swash&family=Comfortaa:wght@300;400;500;600;700&family=Damion&family=Dancing+Script&family=Great+Vibes&family=Homemade+Apple&family=Indie+Flower&family=Merienda&family=Parisienne&family=Paytone+One&family=Prata&family=Quicksand:wght@300&family=Rubik+Glitch&display=swap');
* {
	margin: 0;
	padding: 0;
}
input, textarea,button {
	border: none;
	outline: none;
}
html,
body {
	width: 100%;
  height: 100%;
  overflow: hidden;
	background-image: linear-gradient(to right, #1b3632 , #0079cf);
	position: relative;
}
.gradient {
  background-image: linear-gradient(to right, #f0ff9c , #ff8e47);
  opacity: 30%;
  height: 150%;
 



  


}
.title {
	text-align: center;
	font-weight: normal;
	color: #ffffb3;
	margin-top: 18pt;
  font-size: 100pt;
  font-family: 'Berkshire Swash', cursive;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  width: 100%;
  filter: brightness(120%);
   filter: contrast(120%);
   filter: drop-shadow(10px 10px 10px black);
 
  
   transform: translate(-50%,0);
   z-index: 1;
  

   
  
}
.dream {
	text-align: center;
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translate(-50%,0);
	z-index: 1;
  filter: brightness(120%);
  filter: contrast(120%);
  filter: drop-shadow(10px 10px 10px rgb(54, 40, 1));

  
}
.dream-center {
	width: 572px;
  margin: 0 auto;
  position: relative;
}
.dream-width,
.dream .img1{
	width: 396px;
	position: relative;
	margin: 0 auto;
}
.dream-fly {
	width: 396px;
	position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.dream-fly #fly {
  transform: translateY(0);
}

@keyframes lanternFly {
  0% {
    transform: scale(1) translateY(0);
  }
  10% {
    transform: scale(0.95) translateY(-150px);
  }
  20% {
    transform: scale(0.9) translateY(-300px);
  }
  30% {
    transform: scale(0.85) translateY(-450px);
  }
  40% {
    transform: scale(0.8) translateY(-600px);
  }
  50% {
    transform: scale(0.75) translateY(-750px);
  }
  60% {
    transform: scale(0.7) translateY(-900px);
  }
  70% {
    transition: scale(0.65) translateY(-1050px);
  }
  80% {
    transform: scale(0.6) translateY(-1200px);
  }
  90% {
    transform: scale(0.55) translateY(-1350px);
  }
  100% {
    transform: scale(0.5) translateY(-1500px);
  }
}
.dream-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 216px;
	height: 290px;
}
.dream-text p {
	font-size: 20pt;
	line-height: 42px;
	color: #ffffb3;
  white-space:normal;
  word-break:break-all;
  word-wrap:break-word;
  margin: 0 auto;
  font-family: 'Indie Flower', cursive;
}
.dream-form {
	margin-top: 46px;
	width: 770px;
  position: relative;
}
.dream-form textarea {
	width: 572px;
	padding: 10px 22px;
	background-color: #ffffb3;
	font-size: 20pt;
	height: 90px;
	resize: none;
  font-family: 'Indie Flower', cursive;


}
.dream-form .btn {
  position: absolute;
  right: -60px;
	background: url("../image/sky latern-03.png") center center no-repeat;
	background-size: 100% 100%;
	width: 98px;
	height: 120px;
	cursor: pointer;
  z-index: 1;
 
}
.dream-form .btn:hover {
  animation: shakeX 4s linear infinite;
}
@keyframes shakeX{
  0%,to{
    -webkit-transform:translateZ(0);
    transform:translateZ(0)
  }
  10%,30%,50%,70%,90%{
    -webkit-transform:translate3d(-10px,0,0);
    transform:translate3d(-10px,0,0)
  }20%,40%,60%,80%{
    -webkit-transform:translate3d(10px,0,0);
    transform:translate3d(10px,0,0)
  }
}

.lanternContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.lanternContainer div {
  position: absolute;
  bottom: -120px;
  transform: translateX(0);
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.lanternContainer img {
  width: 100px;
  z-index: 42000;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  filter: brightness(120%);
  filter: contrast(120%);
  filter: drop-shadow(10px 10px 10px rgb(255, 188, 3));
}

@keyframes lanternY1 {
  0% {
    width: 160px;
    transform: translateY(0);
  }
  50% {
    width: 140px;
    transform: translateY(-800px);
  }
  100% {
    width: 100px;
    transform: translateY(-1600px);
  }
 
}

@keyframes lanternY2 {
  0% {
    width: 120px;
    transform: translateY(0);
  }
  50% {
    width: 100px;
    transform: translateY(-800px);
  }
  100% {
    width: 60px;
    transform: translateY(-1600px);
  }
}

@keyframes lanternY3 {
  0% {
    width: 60px;
    transform: translateY(0);
  }
  50% {
    width: 40px;
    transform: translateY(-800px);
  }
  100% {
    width: 20px;
    transform: translateY(-1600px);
  }
}

@keyframes lanternY4 {
  0% {
    width: 40px;
    transform: translateY(0);
  }
  50% {
    width: 20px;
    transform: translateY(-800px);
  }
  100% {
    width: 10px;
    transform: translateY(-1600px);
  }
}