@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Quicksand:wght@300&display=swap');

body {
    margin: 0px;
    background-color: #ffd7c9;
    color: #0f314c ;
}

#container {
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;

    filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;

    font-family: "Raleway", sans-serif;
    font-size: 80pt;
    font-weight: semibold 600;

    text-align: center;

    user-select: none;
}

marquee {
  margin-top: 0px;
  font-family: "Raleway", sans-serif;
  font-size: 36pt;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  color: white;
  background-color: rgb(117, 255, 255);
    

}

.snows img
  {
      
      padding-right: 0px;
      top: 0;
      animation: snow 7s linear infinite;
  }
  .snows img
  {
      width: 5%;
      margin-left: 8%;
      display:flow;
      align-items: center;
      justify-content: space-between;
      position: relative;
      top: 0;
      opacity: 0.5;
  }
  
  
  
  @keyframes snow
  {
      0%{
          transform: translateY(0);
          opacity: 0;
      }
      50%{
          opacity: 1;
      }
      70%{
          opacity: 1;
      }
      100%{
          transform: translateY(80vh);
          opacity: 0;
      }
  }
  
  .snows img:nth-child(1)
  {
      animation-delay: 2s;
  }
  .snows img:nth-child(2)
  {
      animation-delay: 3s;
  }
  .snows img:nth-child(3)
  {
      animation-delay: 1.2s;
  }
  .snows img:nth-child(4)
  {
      animation-delay: 4s;
  }
  .snows img:nth-child(5)
  {
      animation-delay: 3.4s;
  }
  .snows img:nth-child(6)
  {
      animation-delay: 2.8s;
  }
  .snows img:nth-child(7)
  {
      animation-delay: 4.9s;
  }
  .snows img:nth-child(8)
  {
      animation-delay: 4.2s;
  }
  .snows img:nth-child(8)
  {
      animation-delay: 5.1s;
  }
  
  .snows img:nth-child(9)
  {
      animation-delay: 2.2s;
  }
  
  .snows img:nth-child(10)
  {
      animation-delay: 6.2s;
  }
  
  .snows img:nth-child(11)
  {
      animation-delay: 2.2s;
  }
  
  .snows img:nth-child(12)
  {
      animation-delay: 0.4s;
  }
  .snows img:nth-child(13)
  {
      animation-delay: 1s;
  }
  .snows img:nth-child(14)
  {
      animation-delay: 0.8s;
  }
  .snows img:nth-child(15)
  {
      animation-delay: 3.7s;
  }
  .snows img:nth-child(16)
  {
      animation-delay: 1.5s;
  }
  .snows img:nth-child(17)
  {
      animation-delay: 4.5s;
  }
  .snows img:nth-child(18)
  {
      animation-delay: 3.2s;
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    p {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
      }
      [class*="overlay"] {
        width: 100%;
      }
     
      
  }


.wrapper {
  top: 80%;
  left: 90%;
  margin-right: 0;
  padding-right: 0;
  transform: translate(-50%, -50%);
  position: fixed;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius:  50%;
  border: 6px solid #0f314c;
  background-color:  rgb(117, 255, 255);
  text-align: center;
  float: right;
  margin-right: 0;
  padding-right: 0;
  display: table-cell;
}

#reload {
  width: 200px;
  height: 200px;
  margin-right: 0;
  padding-right: 0;
}