h1 {
    border-bottom: 2px solid black;
    white-space: pre;
    margin: auto;
    text-align: center;
    
  }

  h2 {
      font-size: 60pt;
      text-align: center;
  }

  .flex-container {
    display: flex;
  
    
  }
  
  .flex-container > div {
    
    border: 2px solid black;
    width: 200px;
    height: 500px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
  }
  