* {
    box-sizing: border-box;
    background-color: blanchedalmond;
}

img {
    max-width: 400px;
}

#slideshow-container {
    display: flex;
}

article img {
    width: 100%;
}

article p {
    display: none;
}