@import url('https://fonts.googleapis.com/css2?family=Allura&family=Comfortaa:wght@300;400;500;600;700&family=Parisienne&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Comfortaa:wght@300;400;500;600;700&family=Damion&family=Parisienne&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Comfortaa:wght@300;400;500;600;700&family=Damion&family=Dancing+Script&family=Parisienne&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Comfortaa:wght@300;400;500;600;700&family=Damion&family=Dancing+Script&family=Parisienne&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Comfortaa:wght@300;400;500;600;700&family=Damion&family=Dancing+Script&family=Parisienne&family=Prata&family=Quicksand:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
 
  
}
body {
  background-color: rgba(175, 128, 73, 0.797);

}
h1 {
  border-bottom: 1px solid beige ;
  margin-bottom: 400px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 16pt;
  margin-top: 10px;
  font-family: 'Prata', serif;
}



img {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

  
.btnStack {
  font-family: 'Prata', serif;
  color: beige;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  font-size: 14pt;
  font-weight: normal;
  line-height: 40px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  border: 1px solid beige;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

a.btnStack:hover {
  color: rgb(20, 228, 255);
  margin-left: auto;
  margin-right: auto;
}

.intro{
  width: 100%;
  height: 100vh;
  position: relative;
}

.intro a {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%,0);
}

.title {
  width: 1500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0 4px 0;
  border-bottom: 1px solid beige;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  top: 0;
  z-index: 1000;
}

.title a:hover,
.title a:hover h4 {
  color: rgb(20, 228, 255);
}

#btn {
  color: beige;
  font-family: 'Prata', serif;
  font-size: 14pt;
}

.container{
  width: 1500px;
  margin: auto;
}

.row{
  padding: 30px;
  color: beige;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  opacity: 0;
  transform: scale(0, 0.1, 0.2);
  transition: all 3s ease-in-out;
}
.active{
  opacity: 1;
  transform: scale(1);
}
.col{
  flex-basis: 100%;
}
p{
  font-size: 40pt;
  text-align: right;
  margin-top: 500px;
  font-family: 'Parisienne', cursive;
}


.wrapper {
  top: 40%;
  left: 20%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.circle {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  
  
  
 
  display: table-cell;
}

#reload {
  margin-top: 500px;
  width: 600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

#reload-2 {
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;

}