* 
{
  margin: 0;
  padding: 0;
}
section
{
    width: 100%;
    height: 200vh;
    color: #fff;
    background: black;
    background-size: 400% 400%;
    position: relative;
}

h1
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
    font-size: 40pt;
}
center 
{
    position: absolute;
    align-items: right;
}

p
{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: whitesmoke;
font-size: 24pt;
}

a
{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24pt;
}
