* 
{
  margin: 0;
  padding: 0;
}
html
{
    cursor: url('ig.png'), auto;
}
section
{
    width: 100%;
    height: 200vh;
    margin-top: 0;
    color: #fff;
    background: linear-gradient(-45deg, white,rgb(255, 4, 142), rgb(255, 230, 0), #6608ff);
    background-size: 400% 400%;
    position: relative;
    animation: change 5s ease-in-out infinite;
}

h1
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50pt;
    display: middle;
    color: rgb(255, 140, 64);
    align-items: center;
    margin-top: 0px;
    cursor: url('ig.png'), auto;
    text-align: center;
    padding-top: 10px;
}

a
{
    align-items: right;
    cursor: url('ig.png'), auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20pt;
    color: #ff08a0;
    margin-left: 400px;
    margin-top: 100px;
}

.logo
{
    width: 100px;
    cursor: url('ig.png'), auto;
}

:root
{
    --clr-neon: hsl(317 100% 54%);
   
}

*,
*::before,
*::after{
    box-sizing: border-box;
}
body
{
    min-height: 100vh;
    place-items: center;
    color: var(--clr-neon);
}
.neon-button
{
    font-size: 4rem;
    display: inline-block;
    cursor: url('ig.png'), auto;
    text-decoration: none;
    color: var(--clr-neon);
    border: currentColor 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow:
    0 0 0.125em white,hsl(0 0% 100% / 0.5) 0 0 0.125em currentColor;
    box-shadow: 0 0 0.5em 0 var;
}


h2
{
    font-size: 15pt;
    margin-top: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 224, 20);
}

h3
{
    font-size: 10pt;
    margin-top: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(223, 199, 255);
}

h4
{
    font-size: 10pt;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(241, 232, 255);
}

