
body {
  background-color: rgb(36, 68, 143);

}
.content {
  display: flex;
  padding: 7rem;
}

h1 {
  text-align: center;
  font-size: 60pt;
  color: yellow;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section {
  padding: 6rem;
}

.input-value {

  display: inline-block;
  line-height: 20px;
  min-width: 100px;
  border-bottom: 2px solid red;
}
p {
  color: yellow;
  margin-top: 0;
  font-size: 20pt;
  display: contents;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form input {
  display: block;
  margin-bottom: 1.5rem;

  border-radius: 3pt;
} 
#madlib-form {
  width: 10%;
}

button {
  color: red;
  height: 50px;
  text-decoration: none;
}

.snows img
  {
      
      padding-right: 0px;
      top: 0;
      animation: snow 7s linear infinite;
  }
.snows img
{
    width: 5%;
    margin-left: 8%;
    display:flow;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;
    opacity: 0.5;
}



@keyframes snow
{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(80vh);
        opacity: 0;
    }
}

.snows img:nth-child(1)
{
    animation-delay: 2s;
}
.snows img:nth-child(2)
{
    animation-delay: 3s;
}
.snows img:nth-child(3)
{
    animation-delay: 1.2s;
}
.snows img:nth-child(4)
{
    animation-delay: 4s;
}
.snows img:nth-child(5)
{
    animation-delay: 3.4s;
}
.snows img:nth-child(6)
{
    animation-delay: 2.8s;
}
.snows img:nth-child(7)
{
    animation-delay: 4.9s;
}
.snows img:nth-child(8)
{
    animation-delay: 4.2s;
}
.snows img:nth-child(8)
{
    animation-delay: 5.1s;
}

.snows img:nth-child(9)
{
    animation-delay: 2.2s;
}

.snows img:nth-child(10)
{
    animation-delay: 6.2s;
}

.snows img:nth-child(11)
{
    animation-delay: 2.2s;
}

.snows img:nth-child(12)
{
    animation-delay: 0.4s;
}
.snows img:nth-child(13)
{
    animation-delay: 1s;
}
.snows img:nth-child(14)
{
    animation-delay: 0.8s;
}
.snows img:nth-child(15)
{
    animation-delay: 3.7s;
}
.snows img:nth-child(16)
{
    animation-delay: 1.5s;
}
.snows img:nth-child(17)
{
    animation-delay: 4.5s;
}
.snows img:nth-child(18)
{
    animation-delay: 3.2s;
}


